body {
  padding: 0;
  margin: 0;
}

#board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 95vh;
  width: 60vw;
  background-image: url("../images/boardBg.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.815);
}
#player {
  background-image: url("../images/char-removebg-preview.png");
  background-size: cover;
  position: absolute;
}
.platform {
  background-image: url("../images/platform-removebg-preview.png");
  background-size: cover;
  position: absolute;
}
