body {
  font-family: sans-serif, Arial;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
}
#welcomeHeader {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#gameName {
  margin: 25px 0 0 0;
}

#DabuImg {
  margin: 0;
  padding-left: 15px;
  background-image: url("../images/char-removebg-preview.png");
  background-size: contain;
  height: 15vh;
  width: 15vw;
  background-repeat: no-repeat;
  background-position: center;
}
#gameOverHeader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#gameOverText {
  margin: 25px 0 0 0;
}

#chadImg {
  margin: 5px 0 0 0;
  background-image: url("../images/squidy-removebg-preview.png");
  background-size: contain;
  height: 15vh;
  width: 10vw;
  background-repeat: no-repeat;
  background-position: center;
}
#board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 90vh;
  width: 60vw;
  background-image: url("../images/boardBg.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.815);
}

#player {
  background-image: url("../images/char-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
.platform {
  background-image: url("../images/platform-removebg-preview.png");
  background-size: cover;
  position: absolute;
}
.splashImgContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.splashImg {
  width: 60vw;
  height: 40vh;
  background-image: url("../images/splashWelcome-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
}

.musicContainer #startGameAudio {
  margin-top: 20px;
  width: 25vw;
  height: 3vh;
}
#startGameAudio::-webkit-media-controls-panel {
  background-color: rgba(0, 0, 0, 0.655);
}
.gameImgContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.gameOverImg {
  width: 60vw;
  height: 40vh;
  background-color: rgba(23, 23, 23, 0.816);
  background-image: url("../images/pngtree-game-over-text-with-blood-effect-png-image_5974607-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.815);
}
#strtBtn {
  margin-top: 15px;
  width: 12vw;
  height: 5vh;
  border-radius: 15px;
  background-color: black;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.5);
}
#strtBtn a {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: red;
}
.restartBtn {
  margin: 0;
  width: 12vw;
  height: 5vh;
  border-radius: 15px;
  background-color: rgba(23, 23, 23, 0.816);
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.5);
}
.restartBtn a {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: rgb(174, 13, 13);
}
.timeContainer {
  display: inline;
  justify-content: start;
  font-size: 30px;
}
.timeDisplay {
  font-style: italic;
  font-weight: 800;
}
.timeContainer2 {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.timeDisplay2 {
  font-style: italic;
  color: black;
  font-weight: 800;
}

#gameBody {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #6495ed, #365fb2, #3d65ae, #6495ed);
  background-size: 1400% 100%;
  animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
#startPage {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 1400% 100%;
  animation: gradientAnimation 15s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#gameOverBody {
  width: 100%;

  background: linear-gradient(to right, #0b204b, #0b204b, #193468, #254073);
  background-size: 1400% 100%;
  animation: gradientAnimation 15s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
#movements {
  display: flex;
  justify-content: space-evenly;
}
.moveData {
  font-size: 1.5vw;
  font-weight: 700;
}

.moveData,
.moveDataSpan {
  color: rgba(82, 10, 89, 0.741);
  animation: colorTransition 5s infinite;
}
@keyframes colorTransition {
  0% {
    color: #092255;
  }
  50% {
    color: #15b66d;
  }
  100% {
    color: #153f93;
  }
}
